# Compiled class file
*.class
*.iml
*.json
*.png
*.idea
target/
logs/
__pycache__/
*.pyc
*.txt
.idea/workspace.xml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.pkl
*.db
**/target

*.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*velocity.log*

# Eclipse #
.classpath
.project
.settings/
.idea/
agent/
logging.path_IS_UNDEFINED/
logs
**/rebel.xml
history
effective-pom.xml
dependency-reduced-pom.xml